
.navbar {
    background-color: #162036;
    color: #F1E3FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  li{
    margin-left: 90px;
}